---
import Header from "../components/Header.astro";
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro'
import About1 from '../components/About1.astro'
import About2 from '../components/About2.astro'
import Services1 from '../components/Services1.astro'
import Services2 from '../components/Services2.astro'
import Feedback from '../components/Feedback.astro'
import Places from '../components/Places.astro'
import Footer from '../components/Footer.astro'
// import '../utils/animation.css'
---

<Layout title="Proyect X">
	<main class=" ">
		<Header/>
		<Hero/>
		<section class="py-5 xl:px-24  px-5">
		<Places />
		
		<About2/>
		<About1/>
		
		<Services1/>
		
		<Feedback />
	</section>
	</main>
	<Footer/>
</Layout>

