---
import { getLangFromUrl, useTranslations } from '../i18n/utils.js';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const about2 = t('about2');
interface Elemento {
 num: number; // Assuming 'num' is a number, adjust the type as necessary
 title: string; // Assuming 'title' is a string, adjust the type as necessary
 text: string; // Assuming 'text' is a string, adjust the type as necessary
 active: boolean; // Assuming 'active' is a boolean, adjust the type as necessary
}
---


<section class="md:h-screen h-auto flex-col flex items-center lg:mt-32 mt-20 ">
<div class=" text-center ">
    <h2 class="md:text-5xl text-3xl font-bold textScroll">  
       {about2.h2}
    </h2>
</div>
<div class="flex flex-row items-start md:justify-around w-full mt-14 gap-5">
    <div class="md:grid hidden grid-cols-2 grid-rows-5 gap-5 " >
        <img 
        loading="lazy"
        src="/images/Caballero_de_Paris.webp" 
        alt="Caballero de Paris" 
        class="revealAboutImg row-start-1 row-end-3 col-start-1 col-end-2 bg-palete-blue-dark 2xl:w-52 w-40 justify-self-end rounded-lg">
        <img 
        loading="lazy"
        src="/images/Habana.webp" 
        alt="Habana" 
        class=" revealAboutImg row-start-3 row-end-6 col-start-1 col-end-2 bg-red-400 2xl:w-56 w-48 rounded-lg justify-self-end">
        <img 
        loading="lazy"
        src="/images/Cristo_Habana.webp" 
        alt="Cristo Habana" 
        class="revealAboutImg row-start-2 row-end-5 col-start-2 col-end-3 bg-blue-400 2xl:w-56 w-56 h-[280px] rounded-lg">
       
        </div>
    <div class="flex flex-col gap-12 md:w-1/2">
        {about2.elementos.map((elemento: Elemento) => (
        <div class={`flex gap-5 ${elemento.active ? 'text-palete-blue-light' : 'text-white'}`}>
          <div>
            <div class={`bg-[#2D2C2C] w-12 h-12 flex items-center justify-center rounded-lg font-bold`}>{elemento.num}</div>
          </div>
          <div>
            <h3 class={`text-xl font-extrabold ${elemento.active ? 'text-palete-blue-light' : 'text-white'}`}>{elemento.title}</h3>
            <p class="text-palete-white-blue">{elemento.text}</p>
          </div>
        </div>
      ))}
</div>
</div>
</section>
