---
import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'
import Whatsapp from './icons/Whatsapp.astro'


const links = [
    {
        name:"Home",
        href:'/'
    },
    {
        name:"Places",
        href:'/#places'
    },
 
    {
        name:"Matanzas",
        href:'/matanzas'
    },
 
    {
        name:"Services",
        href:'/#services'
    },
    {
        name:"Pinar del Río",
        href:'/pinar del río'
    },
    {
        name:"Región Central",
        href:'/región central'
    },
    {
        name:"About",
        href:'/#about'
    },

    {
        name:"La Habana",
        href:'/la habana'
    },
   
]

---

<footer class="h-auto flex items-center justify-around sm:flex-row flex-wrap bg-[#1f1f1f] sm:p-10">
    <div>
        <h4 class="md:inline hidden">Hola</h4>
    </div>
    <ul class=" sm:py-0 py-5 sm:px-0 px-5 md:w-auto w-full">
        <li class=" sm:gap-5 gap-2 grid grid-cols-3">
            {
                links.map(link =>(
                <a href={link.href} 
                class="hover:text-palete-blue-light transition-colors">
                    {link.name}
                </a>
                ))
            }
        </li>
    </ul>
    <div class="flex sm:gap-x-8 gap-x-2 items-center justify-start md:w-auto w-full sm:p-0 p-4">
        <Whatsapp class="w-10 h-10 hover:scale-110 transition-all"/>
        <Facebook class="w-10 h-10 hover:scale-110 transition-all"/>
        <Instagram class="w-10 h-10 hover:scale-110 transition-all"/>
    </div>
</footer>