---
import Logo7 from './icons/LOGOS/logo7.astro'
import LenguajePicker from './LenguajePicker.astro'
import MenuOverlay from './react/MenuOverlay'
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const links = [
    {
        name:t('nav.places'),
        href:'/#places'
    },
    {
        name:t('nav.about'),
        href:'/#about'
    },
    {
        name:t('nav.services'),
        href:'/#services'
    },
  
    {
        name:t('nav.feedback'),
        href:'/#feedback'
    },
]


---


<header class="flex justify-between items-center w-full absolute top-0 z-20 pt-5 sm:px-20 px-5 revealHeader">
    <div>
    <Logo7 class="w-28">
    </div>
        <nav class="md:block hidden">
            <ul class="">
                <li class=" gap-x-10 flex">
                    {
                        links.map(link =>(
                        <a href={lang === 'en' ? link.href : `/${lang}${link.href}`}
                        class="hover:text-palete-blue-light transition-colors text-lg">
                            {link.name}
                        </a>
                        ))
                    }
                </li>
            </ul>
        </nav>
      
      <div class="flex gap-10">
       
            <LenguajePicker/>
                
               <MenuOverlay client:visible links = {links}/>
             
</div>
</header>
