---
import Facebook from './icons/Facebook.astro'
import Instagram from './icons/Instagram.astro'
import Whatsapp from './icons/Whatsapp.astro'
import '../utils/animation.css'
---

<section class="h-screen flex justify-start items-center bg-no-repeat bg-cover "
style={`background-image: url(/images/hero.jpg)`}
>
<div class="absolute h-full w-full bg-opacity-80 bg-blend-multiply bg-gradient-to-t from-[#07111de7] bg-[#252525ad] z-10">
</div>
    <div class="z-20 xl:w-[55%] lg:w-[60%] sm:px-20 px-5 textDesapear textDesapear ">
        <h1 class="2xl:text-7xl xl:text-6xl text-4xl font-bold sm:text-start text-center revealHero">EASY WAY TO 
            <span class="text-palete-blue-light">EXPLORE </span>
            THE CITY</h1>
        <p class="mt-5 sm:text-start text-center text-palete-white-blue revealHero">
            Experimenta la confiabilidad, eficiencia y calidad que solo nuestro servicio de taxis puede ofrecer. Conducidos por profesionales altamente calificados, garantizamos un viaje seguro, puntual y cómodo. 
        </p>
        <div class="flex sm:justify-start justify-center gap-6 mt-6 revealHero">
            <button class="bg-palete-blue-dark xl:px-10 xl:py-3 py-2 px-5  rounded-lg hover:shadow-lg hover:shadow-palete-blue-light transition">Book Now</button>
            <!-- <a href="/#about">
                <button  class="xl:px-10 py-2 px-5  rounded-lg border-2 border-white hover:shadow-lg hover:shadow-white transition">
                   
                   About Us
                </button>
            </a> -->
        </div>
        <div class="flex gap-x-8 mt-8 sm:justify-start justify-center revealHero">
            <Whatsapp class="w-10 h-10 hover:scale-110 transition-all"/>
            <Facebook class="w-10 h-10 hover:scale-110 transition-all"/>
            <Instagram class="w-10 h-10 hover:scale-110 transition-all"/>
        </div>
    </div>
    <!-- <div >
        <div class="bg-[radial-gradient(circle,rgba(101,101,101,1)3%,rgba(80,79,79,1)14%,rgba(28,28,28,1)50%,rgba(24,24,24,1)55%)] lg:w-[900px] h-[800px] absolute -z-10 top-[-8%] right-10 sm:block hidden"></div>
        <img src="/images/blue-classic-car.webp" alt="Blue Classic Car" class="w-[1300px] sm:block hidden">
    </div> -->
</section>




