---
import { languages } from '../i18n/ui';

 const {currentLocale} = Astro
---

<ul class="flex gap-5 bg-[#2034539f] px-5 py-2 rounded-lg">
    {Object.entries(languages).map(([lang, label]) => (
        <li class="gap-x-3 flex">
          <a class={`${lang === currentLocale ? "font-extrabold text-palete-blue-light ": ''} hover:font-extrabold text-xl`}href={ lang === 'en' ? '/' : `/${lang}/`}>{label}</a>
        </li>
      ))}
</ul>

