---
import Destination from './icons/destination.astro'
import Price from './icons/price.astro'
import Calendar from './icons/calendar.astro'
---
    <section class="flex-col  flex items-center lg:my-0 my-20" id="services">
        <div class="lg:w-[45%]  text-center mb-10">
            <h2 class="md:text-4xl text-2xl font-bold ">
              Con nosotros encontraras el mejor servicio de la isla.
            </h2>
            <p class="mt-5 text-palete-white-blue">
              Contamos con un equipo de profesionales altamente cualificados.
            </p>
        </div>
        <div class="flex sm:flex-row flex-col w-full  md:px-20 px-0">
            <div class="sm:w-1/3 flex flex-col items-center justify-center gap-5 bg-[#202020] py-10 px-10 sm:rounded-l-lg sm:rounded-r-none rounded-t-lg">
                <Destination class = "fill-palete-blue-light w-32"/>
                <h4 class="font-bold text-xl">Diferentes Destinos</h4>
                <p class="text-center">Explora una variedad de destinos únicos, desde montañas impresionantes hasta playas y ciudades vibrantes.</p>
            </div>
            <div class="sm:w-1/3 flex flex-col items-center  justify-center gap-5 bg-palete-blue-dark py-10 px-10">
                <Price class = "stroke-palete-blue-light w-24 "/>
                <h4 class="font-bold text-xl">Precios Competitivos</h4>
                <p class="text-center">Ofrecemos precios competitivos para asegurar que tu viaje sea accesible y memorable.</p>
            </div>
            <div class="sm:w-1/3 flex flex-col items-center  justify-center gap-5 bg-[#202020] py-10 px-10 sm:rounded-r-lg sm:rounded-l-none  rounded-b-lg">
                <Calendar class = "stroke-palete-blue-light w-24"/>
                <h4 class="font-bold text-xl">Reserva Fácil</h4>
                <p class="text-center">Hacemos que la reserva de tu viaje sea un proceso sencillo y rápido.</p>
            </div>
        </div>
    </section>
