<section class=" md:flex-row flex-col flex items-center justify-center gap-y-12 lg:my-20 my-20">
    <div class="md:text-start text-center sm:mb-10 mb-0 md:w-1/2">
        <h2 class="md:text-4xl text-2xl font-bold ">
            We Will Help You Travel.
        </h2>
        <p class="mt-5 text-palete-white-blue">
            Lorem ipsum is placeholder text commonly used in the graphic, print
            Lorem ipsum is placeholder text commonly used in the graphic, print
        </p>
    </div>
        <div class="grid grid-cols-2 gap-3 md:w-1/2">
            <div class="bg-[#202020] p-10 flex flex-col items-center justify-center gap-3 rounded-tl-lg">
                <h3>Icon</h3>
                <h3>Name</h3>
                <p>We Will Help You</p>
            </div>
            <div class="bg-[#202020] p-10 flex flex-col items-center justify-center gap-3 rounded-tr-lg">
                <h3>Icon</h3>
                <h3>Name</h3>
                <p>We Will Help You</p>
            </div>
            <div class="bg-[#202020] p-10 flex flex-col items-center justify-center gap-3 rounded-bl-lg">
                <h3>Icon</h3>
                <h3>Name</h3>
                <p>We Will Help You</p>
            </div>
            <div class="bg-[#202020] p-10 flex flex-col items-center justify-center gap-3 rounded-br-lg">
                <h3>Icon</h3>
                <h3>Name</h3>
                <p>We Will Help You</p>
            </div>
        </div>
    </div>
</section>