    <section class=" md:h-screen h-auto flex-col flex items-center lg:mt-10 mt-20" id="services">
        <div class="lg:w-[45%]  text-center ">
            <h2 class="md:text-4xl text-2xl font-bold ">
                We Will Help You Travel And You Can Consult With Us.
            </h2>
            <p class="mt-5 text-palete-white-blue">
                Lorem ipsum is placeholder text commonly used in the graphic, print
            </p>
        </div>
        <div class="flex w-full h-[350px]">
            <div class="w-1/3 flex flex-col items-center justify-center gap-5 bg-[#202020] py-10 px-10">
                <h5>❤</h5>
                <h4 class="font-bold text-xl">History</h4>
                <p class="text-center">Lorem ipsum is placeholder text commonly used in the graphic, print</p>
            </div>
            <div class="w-1/3 flex flex-col items-center justify-center gap-5 bg-palete-blue-dark py-10 px-10">
                <h5>❤</h5>
                <h4 class="font-bold text-xl">History</h4>
                <p class="text-center">Lorem ipsum is placeholder text commonly used in the graphic, print</p>
            </div>
            <div class="w-1/3 flex flex-col items-center justify-center gap-5 bg-[#202020] py-10 px-10">
                <h5>❤</h5>
                <h4 class="font-bold text-xl">History</h4>
                <p class="text-center">Lorem ipsum is placeholder text commonly used in the graphic, print</p>
            </div>
        </div>
    </section>