<!-- .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.div1 { grid-area: 1 / 1 / 4 / 2; }
.div2 { grid-area: 4 / 1 / 9 / 2; }
.div3 { grid-area: 1 / 2 / 5 / 3; }
.div4 { grid-area: 5 / 2 / 8 / 3; }
.div5 { grid-area: 1 / 3 / 4 / 4; }
.div6 { grid-area: 4 / 3 / 8 / 4; }-->

    <section class=" mt-20" id="services">
        <div class="flex justify-between">
            <h2 class="md:text-5xl text-2xl font-bold text-palete-blue-light w-[55%]">Lorem ipsum is placeholder text commonly</h2>
            <p class="text-palete-white-blue w-[20%]">Lorem ipsum is placeholder text commonly used in the graphic, print.</p>
        </div>
        <div class="grid grid-cols-3 grid-rows-5 h-[470px]">
            <div class="bg-palete-blue-light row-start-1 row-end-2 col-start-1 col-end-2">
                <div><h4>History</h4></div>
               <p>1Lorem ipsum is placeholder text commonly used in the graphic, print.</p>
            </div>
            <img src="/images/red-classic-car.jpg" alt="Red Classic Car" class="row-start-3 row-end-5 col-start-1 col-end-2">
            <div class="bg-palete-blue-light  row-start-5 row-end-8 col-start-2 col-end-3">
                <div><h4>History</h4></div>
               <p>2Lorem ipsum is placeholder text commonly used in the graphic, print.</p>
            </div>
            <img src="/images/red-classic-car.jpg" alt="Red Classic Car" class="row-start   -1 row-end-5 col-start-2 col-end-3">
            <div class="bg-palete-blue-light row-start-1 row-end-4 col-start-3 col-end-4">
                <div><h4>History</h4></div>
               <p>3Lorem ipsum is placeholder text commonly used in the graphic, print.</p>
            </div>
            <img src="/images/red-classic-car.jpg" alt="Red Classic Car" class="row-start-4 row-end-8 col-start-3 col-end-4" >
        </div>
    </section>