
.section-l {
    animation: reveal-l linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}
.section-r {
    animation: reveal-r linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 50%;
}

@keyframes reveal-l {
    from {
        opacity: 0;
        translate: 200px 150px;
        scale: .8;
    }

    to{
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

@keyframes reveal-r {
    from {
        opacity: 0;
        translate: -200px 150px;
        scale: .8;
    }

    to{
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

/* #itinerario {
    transition-property: all;
    animation: fadeIn 300ms forwards;
} */

/* .fade-out {
    animation: fadeOut 600ms forwards;
}

.fade-in {
    animation: fadeIn 600ms forwards;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0;
    
    }
    to {
        opacity: 1;
        scale: 1;
        
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        scale: 1;
    }
    to {
        opacity: 0;
        scale: 0;
    }
} */


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-out {
    animation: fadeOut 300ms forwards;
}

.fade-in {
    animation: fadeIn 300ms forwards;
}